<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="index.css">
  <title>AngularJS ToDoList</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAZwzHzQpWH_LiP4XMCJNZBf7gUbudKsVE",
      authDomain: "api-test-1207.firebaseapp.com",
      databaseURL: "https://api-test-1207.firebaseio.com",
      projectId: "api-test-1207",
      storageBucket: "api-test-1207.appspot.com",
      messagingSenderId: "1001206726809"
    };
    firebase.initializeApp(config);
  </script>
</head>

<body ng-app="todo" ng-controller="todoCtrl">
  <h1>hello world</h1>
  <h2>{{name}}</h2>
  <todo-list></todo-list>
  <!-- <div> {{ list }} </div> -->
  <div ng-repeat="item in list"> {{ item }} </div>
  <section>
    <form action="">
      <input type="text">
      <input type="button" value="submit">
      <ul>
        <li ng-repeat="item in list">
          <span>
            <label for="">Done</label>
            <input id="itemDone" type="checkbox" ng-checked="item.done" ng-click="doneItem($index)">
          </span>
          <input type="button" value="delete" ng-click="deleteItem($index)">
          <label for="">{{$index}}</label>
          <input type="text" ng-value="item.content" ng-model="item.content">
        </li>
      </ul>
    </form>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
